.rockband {
    background-image: url("../../img/proyectos/rockBand.webp");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.blogDeCafe {
    background-image: url("../../img/proyectos/blogDeCafe.webp");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.travel {
    background-image: url("../../img/proyectos/travel.webp");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}