.perfil-info {
    width: 60%;
}
.perfil {
    min-width: 300px;
    min-height: 450px;
    width: 40%;
    background-image: url('../../img/perfil.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}