.tecnologias {
    background-image: url('../../img/tecnologias.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__over {
        opacity: 0.7;
    }
}